
@media (prefers-color-scheme: dark) {
    :root {
        --color-white: #16161e;
        --color-black: #f8f9fa;
        --primary-color: #253264;
        --medium-primary: #253264;
        --very-light-primary: #1b1c2500;
    }

    .dev-portrait {
        box-shadow: 0 1rem 2rem rgba(0,0,0,.75);
    }

    .role-text {
        background-color: var(--color-black);
    }

    .hero-btn {
        color: var(--color-black);
    }
    
    .education-node {
        color: var(--color-black);
        box-shadow: 0 0 1.6rem rgba(0,0,0,.75);
    }

    .contact-form .form-component--button-submit {
        color: var(--color-black);
    }

    .contact-presentation--dark {
        display: block;
    }

    .contact-presentation {
        display: none;
    }

    .contact-presentation--dark {
        display: block;
    }

    .scroll-cta:hover {
        color: var(--light-primary);
    }

    footer {
        border-block-start: 1px solid var(--primary-color);
    }

    .footer-link:hover {
        color: rgb(202, 202, 202);

    }
}